
# Google Sheets CSV Export URLs (File -> Publish to web -> CSV)
VITE_OVERBLIK_CSV_URL=https://docs.google.com/spreadsheets/d/e/YOUR_SHEET_ID_1/pub?output=csv
VITE_INFO_CSV_URL=https://docs.google.com/spreadsheets/d/e/YOUR_SHEET_ID_2/pub?output=csv
VITE_TASKDESC_CSV_URL=https://docs.google.com/spreadsheets/d/e/YOUR_SHEET_ID_3/pub?output=csv
VITE_VAGTER_CSV_URL=
